/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif; }

.clearfix:after {
  content: '';
  clear: both;
  display: table; }

.container {
  max-width: 352px;
  margin: 0 auto; }
  @media (min-width: 672px) {
    .container {
      max-width: 672px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  text-align: center; }
  @media (min-width: 672px) {
    .title {
      font-size: 32px;
      line-height: 45px; } }
  @media (min-width: 1200px) {
    .title {
      font-size: 48px;
      line-height: 67px; } }

header {
  background-color: #AA0601;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; }
  header .header__container {
    height: 50px;
    position: relative; }
    @media (min-width: 672px) {
      header .header__container {
        max-width: 672px;
        margin: 0 auto;
        height: 108px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media (min-width: 1200px) {
      header .header__container {
        max-width: 1832px;
        padding: 0 44px; } }
  header .header__logo {
    text-align: center;
    height: 100%; }
    header .header__logo a {
      display: block;
      width: 48px;
      height: 100%;
      margin: 0 auto;
      line-height: 50px; }
      @media (min-width: 672px) {
        header .header__logo a {
          width: 80px;
          line-height: 108px; } }
    header .header__logo img {
      width: 100%;
      vertical-align: middle; }
  header .header__hamburger__checkbox {
    display: none; }
    header .header__hamburger__checkbox:checked ~ .header__list {
      left: 0; }
    header .header__hamburger__checkbox:checked + .header__hamburger .line1 {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      left: 3px; }
    header .header__hamburger__checkbox:checked + .header__hamburger .line2 {
      opacity: 0.3;
      height: 22px;
      top: -2px;
      left: -1px; }
    header .header__hamburger__checkbox:checked + .header__hamburger .line3 {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      left: 3px; }
  header .header__hamburger {
    position: absolute;
    top: 13px;
    left: 16px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 999;
    display: block; }
    @media (min-width: 672px) {
      header .header__hamburger {
        display: none; } }
    header .header__hamburger .line {
      width: 21.5px;
      height: 3px;
      background-color: #FFFFFF;
      border-radius: 2px;
      position: absolute; }
    header .header__hamburger .line1 {
      top: 0;
      left: 0;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      -webkit-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
              transform-origin: 0 0; }
    header .header__hamburger .line2 {
      top: 7px;
      left: 0;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    header .header__hamburger .line3 {
      top: 14px;
      left: 0;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      -webkit-transform-origin: 0 100%;
          -ms-transform-origin: 0 100%;
              transform-origin: 0 100%; }
  header .header__list {
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    @media (min-width: 672px) {
      header .header__list {
        margin: 0;
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    header .header__list__item {
      background-color: #AA0601;
      border: 1px solid #FFFFFF;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      header .header__list__item :hover {
        background-color: #650300; }
      @media (min-width: 672px) {
        header .header__list__item {
          background-color: transparent;
          border: 0;
          margin-left: 40px; } }
      @media (min-width: 1200px) {
        header .header__list__item {
          margin-left: 64px; } }
      header .header__list__item a {
        display: block;
        height: 60px;
        font-size: 20px;
        line-height: 60px;
        font-weight: 400;
        color: #FFFFFF;
        text-align: center; }
        @media (min-width: 672px) {
          header .header__list__item a {
            height: 108px;
            font-size: 20px;
            line-height: 108px;
            -moz-text-align-last: left;
                 text-align-last: left; } }

.banner {
  background-image: url(../images/68.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .banner__container {
    margin-top: 50px;
    height: 394px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (min-width: 672px) {
      .banner__container {
        margin-top: 108px;
        height: 840px; } }
  .banner__subtitle {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #650300; }
    @media (min-width: 672px) {
      .banner__subtitle {
        font-size: 20px;
        line-height: 28px; } }
    @media (min-width: 1200px) {
      .banner__subtitle {
        font-size: 36px;
        line-height: 50px; } }
  .banner__title {
    font-size: 32px;
    line-height: 45px;
    font-weight: 500;
    color: #650300; }
    @media (min-width: 672px) {
      .banner__title {
        font-size: 48px;
        line-height: 67px; } }
    @media (min-width: 1200px) {
      .banner__title {
        font-size: 64px;
        line-height: 90px; } }

.feature {
  background-color: #AA06010D; }
  .feature__title {
    padding-top: 32px;
    padding-bottom: 12px;
    color: #650300; }
    @media (min-width: 672px) {
      .feature__title {
        padding-top: 40px; } }
    @media (min-width: 1200px) {
      .feature__title {
        padding-top: 64px;
        padding-bottom: 44px; } }
  .feature__list {
    padding-bottom: 48px; }
    @media (min-width: 672px) {
      .feature__list {
        padding-bottom: 36px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media (min-width: 1200px) {
      .feature__list {
        padding-bottom: 80px; } }
    .feature__list__item {
      padding-top: 20px;
      padding-bottom: 8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (min-width: 672px) {
        .feature__list__item {
          width: 324px;
          margin-bottom: 12px; } }
      @media (min-width: 1200px) {
        .feature__list__item {
          padding-top: 16px;
          padding-bottom: 0;
          width: 282px;
          margin-bottom: 0; } }
      .feature__list__item__img {
        width: 80px;
        height: 80px;
        line-height: 80px;
        margin-bottom: 16px; }
        @media (min-width: 1200px) {
          .feature__list__item__img {
            width: 100px;
            height: 100px;
            line-height: 100px;
            margin-bottom: 40px; } }
        .feature__list__item__img img {
          width: 100%;
          vertical-align: middle; }
      .feature__list__item__title {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        color: #650300;
        text-align: center;
        margin-bottom: 8px; }
        @media (min-width: 1200px) {
          .feature__list__item__title {
            font-size: 24px;
            line-height: 33px;
            margin-bottom: 4px; } }
      .feature__list__item__content {
        max-width: 224px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #000000; }
        @media (min-width: 1200px) {
          .feature__list__item__content {
            max-width: 208px; } }

.classic__title {
  color: #650300;
  padding-top: 24px;
  padding-bottom: 16px; }
  @media (min-width: 672px) {
    .classic__title {
      padding-top: 40px;
      padding-bottom: 32px; } }
  @media (min-width: 1200px) {
    .classic__title {
      padding-top: 64px;
      padding-bottom: 60px; } }

.classic__list {
  margin-bottom: 16px; }
  @media (min-width: 672px) {
    .classic__list {
      margin-bottom: 32px; } }
  @media (min-width: 1200px) {
    .classic__list {
      margin-bottom: 48px; } }
  .classic__list__item {
    margin-bottom: 8px; }
    .classic__list__item a {
      display: block;
      position: relative;
      width: 100%; }
      @media (min-width: 672px) {
        .classic__list__item a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; } }
    .classic__list__item__img {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      width: 100%;
      height: 134px; }
      @media (min-width: 672px) {
        .classic__list__item__img {
          background-size: cover;
          width: auto;
          width: 411px;
          height: 168px;
          margin-right: 24px; } }
      @media (min-width: 1200px) {
        .classic__list__item__img {
          width: 792px;
          height: 320px;
          margin-right: 24px; } }
    .classic__list__item:nth-child(1) .classic__list__item__img {
      background-image: url(../images/8.png); }
    .classic__list__item:nth-child(2) .classic__list__item__img {
      background-image: url(../images/15_2.png); }
    .classic__list__item:nth-child(3) .classic__list__item__img {
      background-image: url(../images/28.png); }
    @media (min-width: 672px) {
      .classic__list__item:nth-child(2):hover .classic__list__item__img {
        background-image: url(../images/15.png); } }
    @media (min-width: 1200px) {
      .classic__list__item:nth-child(2) a {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; } }
    @media (min-width: 1200px) {
      .classic__list__item:nth-child(2) .classic__list__item__img {
        margin-right: 0;
        margin-left: 24px; } }
    @media (min-width: 1200px) {
      .classic__list__item:nth-child(2) .classic__list__item__title {
        text-align: right; } }
    .classic__list__item__title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 134px;
      text-align: center;
      text-transform: uppercase;
      font-style: italic;
      font-size: 28px;
      line-height: 134px;
      font-weight: 900;
      color: #FFFFFF; }
      @media (min-width: 672px) {
        .classic__list__item__title {
          position: relative;
          top: auto;
          left: auto;
          width: 237px;
          height: 168px;
          color: #AA0601; } }
      @media (min-width: 1200px) {
        .classic__list__item__title {
          width: 384px;
          height: 320px;
          text-align: left;
          font-size: 48px;
          line-height: 320px; } }
      .classic__list__item__title__icon {
        margin-right: 8px;
        vertical-align: middle;
        max-width: 32px;
        max-height: 32px;
        -webkit-filter: grayscale(100%) brightness(90000%);
                filter: grayscale(100%) brightness(90000%); }
        @media (min-width: 672px) {
          .classic__list__item__title__icon {
            -webkit-filter: none;
                    filter: none; } }
        @media (min-width: 1200px) {
          .classic__list__item__title__icon {
            max-width: 48px;
            max-height: 48px; } }

.joint {
  background-image: url(../images/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 189px; }
  @media (min-width: 672px) {
    .joint {
      padding-bottom: 417px; } }
  @media (min-width: 1200px) {
    .joint {
      padding-bottom: 479px; } }
  .joint__title {
    color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 16px; }
    @media (min-width: 672px) {
      .joint__title {
        padding-top: 40px;
        padding-bottom: 32px; } }
    @media (min-width: 1200px) {
      .joint__title {
        padding-top: 64px;
        padding-bottom: 60px; } }
  .joint__container__1 {
    max-width: 329px;
    height: 228px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 18px; }
    @media (min-width: 672px) {
      .joint__container__1 {
        max-width: 675px;
        height: 370px;
        margin-bottom: 37px; } }
    @media (min-width: 1200px) {
      .joint__container__1 {
        max-width: 1511px;
        height: 848px;
        margin-bottom: 52px; } }
  .joint__container__2 {
    -webkit-box-flex: 171;
        -ms-flex-positive: 171;
            flex-grow: 171;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 672px) {
      .joint__container__2 {
        -webkit-box-flex: 421;
            -ms-flex-positive: 421;
                flex-grow: 421; } }
    @media (min-width: 1200px) {
      .joint__container__2 {
        -webkit-box-flex: 966;
            -ms-flex-positive: 966;
                flex-grow: 966; } }
  .joint__container__3 {
    -webkit-box-flex: 145;
        -ms-flex-positive: 145;
            flex-grow: 145;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 672px) {
      .joint__container__3 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-flex: 169;
            -ms-flex-positive: 169;
                flex-grow: 169; } }
    @media (min-width: 1200px) {
      .joint__container__3 {
        -webkit-box-flex: 386;
            -ms-flex-positive: 386;
                flex-grow: 386; } }
  .joint__container__4 {
    -webkit-box-flex: 101;
        -ms-flex-positive: 101;
            flex-grow: 101;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (min-width: 672px) {
      .joint__container__4 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 359;
            -ms-flex-positive: 359;
                flex-grow: 359; } }
    @media (min-width: 1200px) {
      .joint__container__4 {
        -webkit-box-flex: 826;
            -ms-flex-positive: 826;
                flex-grow: 826; } }
  .joint__img__1 {
    background-image: url(../images/zac-wolff-2qfYizn95pk-unsplash.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 2px 2px 0;
    -webkit-box-flex: 156;
        -ms-flex-positive: 156;
            flex-grow: 156; }
    @media (min-width: 672px) {
      .joint__img__1 {
        margin: 0 3px 3px 0; } }
    @media (min-width: 1200px) {
      .joint__img__1 {
        margin: 0 8px 8px 0; } }
    @media (min-width: 672px) {
      .joint__img__1 {
        -webkit-box-flex: 251;
            -ms-flex-positive: 251;
                flex-grow: 251; } }
    @media (min-width: 1200px) {
      .joint__img__1 {
        -webkit-box-flex: 573;
            -ms-flex-positive: 573;
                flex-grow: 573; } }
  .joint__img__2 {
    background-image: url(../images/61.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 2px 2px 0;
    -webkit-box-flex: 81;
        -ms-flex-positive: 81;
            flex-grow: 81; }
    @media (min-width: 672px) {
      .joint__img__2 {
        margin: 0 3px 3px 0; } }
    @media (min-width: 1200px) {
      .joint__img__2 {
        margin: 0 8px 8px 0; } }
    @media (min-width: 672px) {
      .joint__img__2 {
        -webkit-box-flex: 198;
            -ms-flex-positive: 198;
                flex-grow: 198; } }
    @media (min-width: 1200px) {
      .joint__img__2 {
        -webkit-box-flex: 454;
            -ms-flex-positive: 454;
                flex-grow: 454; } }
  .joint__img__3 {
    background-image: url(../images/34.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 2px 2px 0;
    -webkit-box-flex: 42;
        -ms-flex-positive: 42;
            flex-grow: 42; }
    @media (min-width: 672px) {
      .joint__img__3 {
        margin: 0 3px 3px 0; } }
    @media (min-width: 1200px) {
      .joint__img__3 {
        margin: 0 8px 8px 0; } }
    @media (min-width: 672px) {
      .joint__img__3 {
        background-image: url(../images/24.png);
        -webkit-box-flex: 58;
            -ms-flex-positive: 58;
                flex-grow: 58; } }
    @media (min-width: 1200px) {
      .joint__img__3 {
        -webkit-box-flex: 132;
            -ms-flex-positive: 132;
                flex-grow: 132; } }
  .joint__img__4 {
    background-image: url(../images/24.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 2px 2px 0;
    -webkit-box-flex: 32;
        -ms-flex-positive: 32;
            flex-grow: 32; }
    @media (min-width: 672px) {
      .joint__img__4 {
        margin: 0 3px 3px 0; } }
    @media (min-width: 1200px) {
      .joint__img__4 {
        margin: 0 8px 8px 0; } }
    @media (min-width: 672px) {
      .joint__img__4 {
        background-image: url(../images/34.png);
        -webkit-box-flex: 89;
            -ms-flex-positive: 89;
                flex-grow: 89; } }
    @media (min-width: 1200px) {
      .joint__img__4 {
        -webkit-box-flex: 203;
            -ms-flex-positive: 203;
                flex-grow: 203; } }
  .joint__img__link {
    -webkit-box-flex: 135;
        -ms-flex-positive: 135;
            flex-grow: 135;
    margin: 0 2px 2px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../images/5.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 102px 53px; }
    @media (min-width: 672px) {
      .joint__img__link {
        -webkit-box-flex: 74;
            -ms-flex-positive: 74;
                flex-grow: 74;
        margin: 0 3px 3px 0;
        background-position: 163px center;
        background-size: 147px 77px; } }
    @media (min-width: 1200px) {
      .joint__img__link {
        -webkit-box-flex: 167;
            -ms-flex-positive: 167;
                flex-grow: 167;
        margin: 0 8px 8px 0;
        background-position: 476px center;
        background-size: 259px 167px; } }
    .joint__img__link .initial-space {
      -webkit-box-flex: 11;
          -ms-flex-positive: 11;
              flex-grow: 11; }
      @media (min-width: 672px) {
        .joint__img__link .initial-space {
          -webkit-box-flex: 179;
              -ms-flex-positive: 179;
                  flex-grow: 179; } }
      @media (min-width: 1200px) {
        .joint__img__link .initial-space {
          -webkit-box-flex: 503;
              -ms-flex-positive: 503;
                  flex-grow: 503; } }
    .joint__img__link .button-space {
      -webkit-box-flex: 124;
          -ms-flex-positive: 124;
              flex-grow: 124;
      position: relative; }
      @media (min-width: 672px) {
        .joint__img__link .button-space {
          -webkit-box-flex: 178;
              -ms-flex-positive: 178;
                  flex-grow: 178; } }
      @media (min-width: 1200px) {
        .joint__img__link .button-space {
          -webkit-box-flex: 315;
              -ms-flex-positive: 315;
                  flex-grow: 315; } }
      .joint__img__link .button-space .button {
        width: 100%;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        background-color: #FFFFFF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (min-width: 672px) {
          .joint__img__link .button-space .button {
            height: 60px; } }
        @media (min-width: 1200px) {
          .joint__img__link .button-space .button {
            height: 105px; } }
        .joint__img__link .button-space .button:hover .arrow {
          background-position: 70% center; }
        .joint__img__link .button-space .button:hover .text:before {
          top: -100%; }
        .joint__img__link .button-space .button:hover .text:after {
          top: -180%; }
      .joint__img__link .button-space .text {
        position: relative;
        text-align: right;
        font-size: 26px;
        line-height: 34px;
        font-weight: 700;
        color: #AA0601;
        width: 67.74194%; }
        @media (min-width: 672px) {
          .joint__img__link .button-space .text {
            font-size: 40px;
            line-height: 53px;
            width: 73.03371%; } }
        @media (min-width: 1200px) {
          .joint__img__link .button-space .text {
            font-size: 72px;
            line-height: 95px;
            width: 73.33333%; } }
        .joint__img__link .button-space .text::before {
          display: block;
          content: 'MORE';
          position: absolute;
          top: 0%;
          left: 0;
          width: 100%;
          opacity: .6;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
        .joint__img__link .button-space .text::after {
          display: block;
          content: 'MORE';
          position: absolute;
          top: 0%;
          left: 0;
          width: 100%;
          opacity: .4;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
      .joint__img__link .button-space .arrow {
        background-image: url(../images/ic_arrow_forward_24px.svg);
        background-repeat: no-repeat;
        background-position: 40% center;
        background-size: contain;
        height: 18px;
        width: 32.25806%;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        @media (min-width: 672px) {
          .joint__img__link .button-space .arrow {
            height: 27px;
            width: 26.96629%; } }
        @media (min-width: 1200px) {
          .joint__img__link .button-space .arrow {
            height: 48px;
            width: 26.66667%; } }
  @media (min-width: 672px) {
    .joint__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .joint__list__item {
    width: 100%;
    height: 284px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 20px; }
    .joint__list__item:nth-child(1) {
      background-image: url(../images/14.png); }
    .joint__list__item:nth-child(2) {
      background-image: url(../images/39.png); }
    @media (min-width: 672px) {
      .joint__list__item {
        width: 322px;
        height: 280px;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .joint__list__item {
        width: 585px;
        height: 592px; } }
    .joint__list__item a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 32px;
      line-height: 284px;
      font-weight: 700;
      color: #650300;
      background-color: rgba(255, 255, 255, 0.5); }
      @media (min-width: 672px) {
        .joint__list__item a {
          line-height: 280px; } }
      @media (min-width: 1200px) {
        .joint__list__item a {
          font-size: 72px;
          line-height: 592px; } }

.feedback {
  margin-top: -165px; }
  @media (min-width: 672px) {
    .feedback {
      margin-top: -377px; } }
  @media (min-width: 1200px) {
    .feedback {
      margin-top: -335px; } }
  .feedback__title {
    color: #FFFFFF;
    margin-bottom: 16px; }
    @media (min-width: 672px) {
      .feedback__title {
        margin-bottom: 32px; } }
    @media (min-width: 1200px) {
      .feedback__title {
        margin-bottom: 60px; } }
  .feedback__list {
    margin-bottom: 8; }
    @media (min-width: 672px) {
      .feedback__list {
        margin-bottom: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media (min-width: 1200px) {
      .feedback__list {
        margin-bottom: 56px; } }
    .feedback__list__item {
      margin-bottom: 16px; }
      @media (min-width: 672px) {
        .feedback__list__item {
          margin-bottom: 24px;
          width: 324px; } }
      @media (min-width: 1200px) {
        .feedback__list__item {
          width: 282px; } }
      .feedback__list__item__img {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 256px; }
      .feedback__list__item__container {
        border: solid #DEE2E6;
        border-width: 0 1px 1px 1px;
        padding: 16px;
        background-color: #FFFFFF; }
        .feedback__list__item__container .title {
          -moz-text-align-last: left;
               text-align-last: left;
          font-size: 16px;
          line-height: 21px;
          font-weight: 500;
          color: #212529;
          margin-bottom: 16px; }
        .feedback__list__item__container .content {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: #212529;
          margin-bottom: 16px; }
        .feedback__list__item__container .remark {
          font-size: 16px;
          line-height: 21px;
          font-weight: 400;
          color: #707070;
          margin-bottom: 16px; }
      .feedback__list__item:nth-child(1) .feedback__list__item__img {
        background-image: url(../images/18.png); }
      .feedback__list__item:nth-child(2) .feedback__list__item__img {
        background-image: url(../images/25.png); }
      .feedback__list__item:nth-child(3) .feedback__list__item__img {
        background-image: url(../images/36.png); }
      .feedback__list__item:nth-child(4) .feedback__list__item__img {
        background-image: url(../images/45.png); }

.contact {
  background-color: #AA06010D;
  padding-top: 24px;
  padding-bottom: 48px; }
  @media (min-width: 672px) {
    .contact {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (min-width: 1200px) {
    .contact {
      padding-top: 64px;
      padding-bottom: 92px; } }
  .contact__title {
    color: #000000;
    margin-bottom: 8px; }
    @media (min-width: 672px) {
      .contact__title {
        margin-bottom: 16px; } }
    @media (min-width: 1200px) {
      .contact__title {
        margin-bottom: 24px; } }
  .contact__container {
    max-width: 327px;
    margin: 0 auto; }
    @media (min-width: 672px) {
      .contact__container {
        max-width: 498px; } }
    @media (min-width: 1200px) {
      .contact__container {
        max-width: 792px; } }
  .contact__content {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 8px; }
    @media (min-width: 672px) {
      .contact__content {
        margin-bottom: 16px; } }
    @media (min-width: 1200px) {
      .contact__content {
        margin-bottom: 20px; } }
  .contact__form__label {
    display: block;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 2px; }
    @media (min-width: 672px) {
      .contact__form__label {
        margin-bottom: 4px; } }
  .contact__form__input, .contact__form__textarea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    display: block;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #000000;
    border: 1px solid #000000;
    padding: 7px 12px;
    margin-bottom: 12px;
    background-color: transparent; }
    @media (min-width: 672px) {
      .contact__form__input, .contact__form__textarea {
        padding: 14px 16px; } }
  .contact__form__textarea {
    resize: vertical;
    height: 100px; }
    @media (min-width: 672px) {
      .contact__form__textarea {
        height: 136px; } }
  .contact__form__checkbox {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }
    @media (min-width: 672px) {
      .contact__form__checkbox {
        margin-bottom: 24px; } }
    @media (min-width: 1200px) {
      .contact__form__checkbox {
        margin-bottom: 42px; } }
    .contact__form__checkbox__hidden {
      display: none; }
      .contact__form__checkbox__hidden:checked + .contact__form__checkbox__checkbox:before {
        display: block;
        content: '';
        position: absolute;
        top: 25%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
            -ms-transform: translate(-50%, -50%) rotate(45deg);
                transform: translate(-50%, -50%) rotate(45deg);
        width: 5px;
        height: 8px;
        border: solid #000000;
        border-width: 0 2px 2px 0; }
    .contact__form__checkbox__checkbox {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      display: block;
      width: 16px;
      height: 16px;
      border: 2px solid #000000;
      border-radius: 2px;
      margin-top: 3px;
      margin-right: 8px;
      position: relative; }
    .contact__form__checkbox__text {
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      font-weight: 400; }
  .contact__form__submit {
    display: block;
    width: 136px;
    height: 36px;
    margin: 0 auto;
    background-color: #AA0601;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
    font-weight: 700;
    color: #FFFFFF;
    border: 0; }
    .contact__form__submit:hover {
      background-color: #650300; }
    @media (min-width: 1200px) {
      .contact__form__submit {
        width: 180px;
        height: 54px; } }

footer {
  background-color: #AA0601; }
  footer .footer__container {
    max-width: 352px;
    margin: 0 auto;
    position: relative; }
    @media (min-width: 672px) {
      footer .footer__container {
        max-width: 672px; } }
    @media (min-width: 1200px) {
      footer .footer__container {
        max-width: 1150px; } }
  footer .footer__list {
    display: none; }
    @media (min-width: 672px) {
      footer .footer__list {
        display: block;
        padding-top: 40px;
        padding-bottom: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        footer .footer__list__item {
          margin-right: 40px; }
          footer .footer__list__item a {
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            color: #FFFFFF; } }
    @media (min-width: 1200px) {
      footer .footer__list {
        padding-top: 48px;
        padding-bottom: 32px; }
        footer .footer__list__item {
          margin-right: 48px; } }
  footer .footer__sharelink {
    position: absolute;
    top: 24px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (min-width: 672px) {
      footer .footer__sharelink {
        top: 40px; } }
    @media (min-width: 1200px) {
      footer .footer__sharelink {
        top: 36px; } }
    footer .footer__sharelink__item {
      margin-left: 24px; }
      @media (min-width: 1200px) {
        footer .footer__sharelink__item {
          margin-left: 32px; } }
      footer .footer__sharelink__item img {
        display: block;
        width: 24px;
        height: 24px; }
        @media (min-width: 1200px) {
          footer .footer__sharelink__item img {
            width: 48px;
            height: 48px; } }
  footer .footer__contactinfo {
    padding-top: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid #FFFFFF; }
    @media (min-width: 672px) {
      footer .footer__contactinfo {
        padding-top: 0;
        padding-bottom: 27px; } }
    @media (min-width: 1200px) {
      footer .footer__contactinfo {
        padding-bottom: 8px; } }
    footer .footer__contactinfo__item {
      margin-bottom: 8px; }
      @media (min-width: 672px) {
        footer .footer__contactinfo__item {
          margin-bottom: 11px; } }
      @media (min-width: 1200px) {
        footer .footer__contactinfo__item {
          margin-bottom: 16px; } }
      footer .footer__contactinfo__item a {
        font-size: 16px;
        line-height: 21px;
        font-weight: 400;
        color: #FFFFFF; }
        @media (min-width: 672px) {
          footer .footer__contactinfo__item a {
            font-size: 20px;
            line-height: 26px; } }
        @media (min-width: 1200px) {
          footer .footer__contactinfo__item a {
            font-size: 36px;
            line-height: 48px; } }
        footer .footer__contactinfo__item a img {
          margin-right: 8px;
          vertical-align: middle;
          height: 13px; }
          @media (min-width: 672px) {
            footer .footer__contactinfo__item a img {
              height: 23px; } }
          @media (min-width: 1200px) {
            footer .footer__contactinfo__item a img {
              height: 36px; } }
  footer .footer__logo {
    position: absolute;
    bottom: 20px;
    right: 0; }
    @media (min-width: 672px) {
      footer .footer__logo {
        display: none; } }
    @media (min-width: 1200px) {
      footer .footer__logo {
        position: relative;
        bottom: auto;
        right: auto;
        display: block;
        height: 100px;
        line-height: 100px; } }
    footer .footer__logo img {
      width: 46px; }
      @media (min-width: 1200px) {
        footer .footer__logo img {
          width: 80px;
          vertical-align: middle; } }
  footer .footer__copyright {
    padding-top: 24px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 8px; }
    @media (min-width: 672px) {
      footer .footer__copyright {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 0;
        padding-bottom: 40px; } }
    @media (min-width: 1200px) {
      footer .footer__copyright {
        padding-top: 0;
        padding-bottom: 0;
        position: absolute;
        left: 118px;
        bottom: 40px; } }
  footer .footer__policy {
    padding-bottom: 16px; }
    @media (min-width: 672px) {
      footer .footer__policy {
        padding-bottom: 0;
        position: absolute;
        bottom: 40px;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    footer .footer__policy__item {
      margin-bottom: 8px; }
      @media (min-width: 672px) {
        footer .footer__policy__item {
          margin-bottom: 0;
          margin-left: 24px; } }
      @media (min-width: 1200px) {
        footer .footer__policy__item {
          margin-left: 62px; } }
      footer .footer__policy__item a {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #FFFFFF; }

.page__classic__header {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1;
  height: 35px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DCDCDC; }
  @media (min-width: 672px) {
    .page__classic__header {
      top: 108px;
      height: 69px; } }
  @media (min-width: 1200px) {
    .page__classic__header {
      height: 103px; } }
  .page__classic__header .list {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (min-width: 1200px) {
      .page__classic__header .list {
        max-width: 1200px;
        margin: 0 auto; } }
  .page__classic__header .item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    position: relative;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .page__classic__header .item:hover {
      border-bottom: 4px solid #AA0601; }
      @media (min-width: 672px) {
        .page__classic__header .item:hover {
          border-bottom: 8px solid #AA0601; } }
      @media (min-width: 1200px) {
        .page__classic__header .item:hover {
          border-bottom: 16px solid #AA0601; } }
  .page__classic__header .selected {
    border-bottom: 4px solid #AA0601; }
    @media (min-width: 672px) {
      .page__classic__header .selected {
        border-bottom: 8px solid #AA0601; } }
    @media (min-width: 1200px) {
      .page__classic__header .selected {
        border-bottom: 16px solid #AA0601; } }
  .page__classic__header a {
    font-size: 14px;
    line-height: 35px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    display: block; }
    @media (min-width: 672px) {
      .page__classic__header a {
        font-size: 28px;
        line-height: 69px; } }
    @media (min-width: 1200px) {
      .page__classic__header a {
        font-size: 42px;
        line-height: 103px; } }
  .page__classic__header img {
    max-width: 15px;
    max-height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    -webkit-filter: brightness(0%) grayscale(100%);
            filter: brightness(0%) grayscale(100%); }
    @media (min-width: 672px) {
      .page__classic__header img {
        max-width: 32px;
        max-height: 32px;
        margin-right: 8px; } }
    @media (min-width: 1200px) {
      .page__classic__header img {
        max-width: 48px;
        max-height: 48px; } }

.page__classic__banner {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 144px; }
  @media (min-width: 672px) {
    .page__classic__banner {
      margin-top: 177px;
      height: 309px; } }
  @media (min-width: 1200px) {
    .page__classic__banner {
      margin-top: 211px; } }
  .page__classic__banner .img1 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    @media (min-width: 1200px) {
      .page__classic__banner .img1 {
        margin-right: 24px; } }
  .page__classic__banner .img2 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .page__classic__banner .optical1 {
    background-image: url("../images/2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .page__classic__banner .optical2 {
    background-image: url("../images/11.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }

.page__classic__title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: #000000;
  padding-top: 24px;
  text-align: center; }
  @media (min-width: 672px) {
    .page__classic__title {
      font-size: 32px;
      line-height: 43px;
      padding-top: 40px; } }
  @media (min-width: 1200px) {
    .page__classic__title {
      font-size: 42px;
      line-height: 55px;
      padding-top: 88px; } }

.page__classic__subtitle {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 20px;
  text-align: center; }
  @media (min-width: 672px) {
    .page__classic__subtitle {
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 32px; } }
  @media (min-width: 1200px) {
    .page__classic__subtitle {
      font-size: 32px;
      line-height: 45px;
      margin-bottom: 48px; } }

.page__classic__list {
  height: 705px;
  margin-bottom: 8px;
  overflow: hidden; }
  @media (min-width: 672px) {
    .page__classic__list {
      height: 1460px;
      margin-bottom: -19px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (min-width: 1200px) {
    .page__classic__list {
      height: 984px;
      margin-bottom: -16px; } }
  .page__classic__list .item {
    position: relative;
    margin-bottom: 32px; }
    @media (min-width: 672px) {
      .page__classic__list .item {
        margin-bottom: 72px;
        width: 324px; } }
    @media (min-width: 1200px) {
      .page__classic__list .item {
        margin-bottom: 104px;
        width: 282px; } }
  .page__classic__list .img {
    display: block;
    width: 100%;
    height: 166px; }
    @media (min-width: 672px) {
      .page__classic__list .img {
        height: 164px; } }
  .page__classic__list .title {
    text-transform: uppercase;
    text-align: left;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #000000; }
    @media (min-width: 672px) {
      .page__classic__list .title {
        font-size: 24px;
        line-height: 32px; } }
  .page__classic__list .option__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .page__classic__list .option__list__item {
      width: 15px;
      height: 16px;
      border-radius: 4px;
      margin-right: 5px; }
      @media (min-width: 672px) {
        .page__classic__list .option__list__item {
          width: 24px;
          height: 24px;
          margin-right: 8px; } }
      .page__classic__list .option__list__item:nth-of-type(1) {
        background-color: #5F3E2D; }
      .page__classic__list .option__list__item:nth-of-type(2) {
        background-color: #B75929; }
  .page__classic__list .price {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    color: #AA0601;
    position: absolute;
    top: 166px;
    right: 0; }
    @media (min-width: 672px) {
      .page__classic__list .price {
        font-size: 24px;
        line-height: 32px;
        top: 164px; } }

.page__classic__pagelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 56px; }
  @media (min-width: 672px) {
    .page__classic__pagelist {
      margin-bottom: 104px; } }
  @media (min-width: 1200px) {
    .page__classic__pagelist {
      margin-bottom: 156px; } }
  .page__classic__pagelist .item {
    height: 32px;
    border: 1px solid #555555;
    background-color: #FFFFFF; }
    .page__classic__pagelist .item:last-child {
      background-color: #F2F2F2; }
    @media (min-width: 672px) {
      .page__classic__pagelist .item {
        height: 48px; } }
  .page__classic__pagelist .selected {
    background-color: #000000; }
    .page__classic__pagelist .selected a {
      color: #FFFFFF; }
  .page__classic__pagelist a {
    text-align: center;
    font-size: 12px;
    line-height: 32px;
    font-weight: 400;
    color: #555555;
    padding: 8px; }
    @media (min-width: 672px) {
      .page__classic__pagelist a {
        font-size: 19px;
        line-height: 48px; } }

/*# sourceMappingURL=all.css.map */
